body{
  background-color:black;
  margin:0px;
  overscroll-behavior-y: none;
}

.App{
  display:flex;
  align-content:start;
  justify-content:start;
  width:100%;
  height:3000px;
  align-items:center;
  flex-wrap:wrap;
  border:0px;
  padding:0px;
  color:black;
  background-color:green;
}

.header{
  display:flex;
  justify-content:center;
  width:100%;
  align-items:center;
  color:black;
  background-color:lightblue;
  height:100px;
  padding-top:0px;
  margin:0px;

}

.Heading{
  display:flex;
  margin-right:20px;
  margin-left:20px;
  margin-top:20px;
  margin-bottom:20px;
  font-size:25px;
}
